node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
Credentials.js
google-services.json
GoogleService-Info.plist
app.json
GoogleBooksKey.js

# macOS
.DS_Store
